[Desktop Entry]
Version=1.0
Type=Application
Name=ImageJ
GenericName=Image Editor
GenericName[de]=Bildeditor
GenericName[en]=Image Editor
GenericName[es]=Editor de imagen
GenericName[fr]=Éditeur d'images
Comment=Image processing and analysis
Comment[en]=Image processing and analysis
Comment[fr]=Traitement et analyse de l'image
Comment[de]=Bildverarbeitung und Analyse
#set available memory to 3GB 
Exec=imagej -x 2048 %f
Icon=/usr/share/icons/imagej.png
Categories=Graphics;Science;Biology;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-fits;image/x-png;image/x-psd;image/x-xbitmap;application/dicom;
